@font-face {
  font-family: "ArchivoBlack";
  src: url("../fonts/ArchivoBlack.ttf");
}

html,
body {
  height: 100%;
}

body {
  background-color: white;
  margin: 0;
}

.image-after {
  content: "";
  background-image: url("../img/underline.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}

.image-after-blue {
  content: "";
  background-image: url("../img/people/color.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}

.colorPink {
  background-color: #ff006b;
}

.colorBlue {
  background-color: #66c5ff;
}

.colorGreen {
  background-color: #b3dc3d;
}
